<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand" >Recipe Book</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <div class="nav-link"  (click)="OnSelect(1)">Recipes <span class="sr-only">(current)</span></div>
        </li>
        <li class="nav-item">
          <div class="nav-link"  (click)="OnSelect(2)">Shopping List</div>
        </li>
        
         
      </ul>
      <ul class="navbar-nav mr-auto  navbar-right">
        
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-item" >Action</div>
            <div class="dropdown-item" >Another action</div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item" >Something else here</div>
          </div>
        </li>
         
      </ul>
    </div>
  </nav>