<div class="row">
    <div class="col-12">
        <img [src]="item.imagePath" style="margin-top:80px; max-height: 300px;" class="img-fluid" alt="">
    </div>
</div>
<div class="row">
    <div class="col-12">
         <h1>{{item.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12"> 
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage Recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item" >To Shopping List</div>
              <div class="dropdown-item" >Edit Recipe</div>
              <div class="dropdown-item" >Delete Recipe </div>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{item.description}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>